body {
  background-color: #eeeeee;
}

h4.month {
  text-align: center;
  font-weight: bold;
}

div.container {
  background-color: #ffffff;
  padding: 5px;
}

/* calendar */
div.dayheader {
  text-align: center;
}

div.day {
  border: 1px solid #000000;
  height: 100px;
  margin-bottom: 10px;
}

div.emptyday {
  border: 1px solid #ffffff;
}

div.today {
  background-color: #7DC6FF;
}

p.tasktitle {
  margin: 0;
}

div.user {
  text-align: right;
}

div.footer {
  text-align: center;
}
